{{- /* 1. Parameter einzeln extrahieren */ -}}
{{- $lang := "text" -}}
{{- if .IsNamedParams -}}
    {{- $lang = .Get "lang" | default "text" -}}
{{- else -}}
    {{- $lang = .Get 0 | default "text" -}}
{{- end -}}

{{- $hl_lines := .Get "hl_lines" | default "" -}}

{{- /* 2. Kommentare sammeln (Sichere Variante) */ -}}
{{- $allComments := "" -}}
{{- range $k, $v := .Params -}}
    {{- if and (ne $k "lang") (ne $k "hl_lines") (ne $k "comments") -}}
        {{- $allComments = print $allComments $v ";" -}}
    {{- end -}}
{{- end -}}

{{- /* 3. Inhalt säubern (Regex ist hier am sichersten gegen unsichtbare Zeichen) */ -}}
{{- $code := .Inner | replaceRE `\A\n+|\n+\z` "" -}}

{{- /* 4. Highlight Optionen vorbereiten */ -}}
{{- $opts := "" -}}
{{- if $hl_lines -}}
    {{- $opts = printf "lineNos=true,hl_lines=%s" $hl_lines -}}
{{- else -}}
    {{- $opts = "lineNos=true" -}}
{{- end -}}

<div class="hcode-wrapper" style="position: relative;">
    <button class="hcode-copy-btn" onclick="copyCodeToClipboard(this)" title="Copy to clipboard">
        Copy
    </button>
    <div class="hcode-multi-container" data-comments="{{ $allComments }}">
        {{- if gt (len $code) 0 -}}
            {{- highlight $code $lang $opts -}}
        {{- else -}}
            <pre><code>DEBUG: Der Code-Block ist leer!</code></pre>
        {{- end -}}
    </div>
</div>