/*
  You can add custom styles here.
  It could be plugins:
    @import "plugins/numbered";
    @import "plugins/scrollbars";
  Or custom styles:
    body { background: white; }
  Or even theme mixins:
    @mixin theme-light {
      --body-background: white;
      --body-font-color: black;
      ...
    }
*/

/* Ensure the list item uses a custom marker */
li.bullet-plus,
li.bullet-minus {
  list-style: none;
  position: relative;
  padding-left: 1.4em;
}

li.bullet-plus::before {
  content: "+";
  position: absolute;
  left: 0;
  font-weight: 700;
}

li.bullet-minus::before {
  content: "−";
  position: absolute;
  left: 0;
  font-weight: 700;
}
